/**
* button_fancy.module.css
*/
$highlight: #26f;

.button_fancy {
    --perX: 50%;
    --perY: 50%;
    font-family: 'Play', sans-serif;
    letter-spacing: .05em;
    position: relative;
    color: #78a;
    text-decoration: none;
    padding: 1em 2.5em;
    font-size: 2em;
    transition: color .5s, background-color .5s, box-shadow .5s, transform 0.1s;
    background-color: #234;
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)),
        radial-gradient(100% 2.5% at 50% 0%, rgba($highlight,0.2), rgba($highlight,0)),
        radial-gradient(100% 2.5% at 50% 100%, rgba($highlight,0.2), rgba($highlight,0));
    overflow: hidden;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s;
      background-image: 
        radial-gradient(50% 80% at var(--perX) 0%, rgba($highlight,0.3), rgba($highlight,0)),
        radial-gradient(50% 80% at var(--perX) 100%, rgba($highlight,0.3), rgba($highlight,0)),
        radial-gradient(40% 200% at var(--perX) 50%, rgba($highlight,0.2), rgba($highlight,0)),
        radial-gradient(50% 2% at var(--perX) 0%, rgba($highlight,1), rgba($highlight,0)),
        radial-gradient(50% 2% at var(--perX) 100%, rgba($highlight,1), rgba($highlight,0)),
        radial-gradient(50% 2% at var(--perX) 0%, rgba($highlight,1), rgba($highlight,0)),
        radial-gradient(50% 2% at var(--perX) 100%, rgba($highlight,1), rgba($highlight,0));
      mix-blend-mode: screen;
    }

    &:hover {
        color: #acf;
        background-color: #236;
        box-shadow: inset rgba($highlight,0.2) 0px 0px 0.6em 1px, rgba($highlight,0.2) 0px 0px 1.2em 3px;
        &::before {
            opacity: 1;
        }
    }
      
    &:active {
        transform: translateY(2.5%);
    }
}

.button_fancy__default {

}
